body.hide-ads .samBannerUnit1 {
  display: none !important;
}

.message-main {
  position: relative;
}

.message-attribution .watermark {
  position: absolute;
  font-size: 30px;
  top: 3px;
  opacity: 0.3;
}

.dropdown-menu {
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 4px;
  position: absolute;
  top: 2em;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 12px;
}

.dropdown-menu label {
  display: block;
}

.dropdown-menu .page-selector-wrapper {
  flex: 1;
  padding: 4px;
}

.dropdown-menu button {
  flex-basis: 100%;
}

.hidden {
  display: none;
}

.error-container {
  padding: 12px;
  border: 1px solid #d8d8d8;
  background: #f5f5f5;
  margin: 12px 0;
}
